/*cookies*/
#cookie-bar {
  font-family: "Hind Madurai", "Noto Sans TC", "微軟正黑體", "繁黑體", 'Microsoft JhengHei', 'Microsoft YaHei', 'Heiti TC', 'LiHei Pro', sans-serif;
  background-color: #E3F3FE;
  width: calc(100vw - 32px);
  padding: 16px;
  display: initial;
  text-align: left;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
  transform: translateZ(0);
  transition: .3s;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999999;
  font-size: 16px;
  letter-spacing: 1px;
}

#cookie-bar .container {
  padding-left: 0;
  padding-right: 0;
}

#cookie-bar:hover {
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.16));
  transform: translateZ(0);
}

#cookie-bar p {
  margin: 0;
  color: #707070;
  padding-right: 24px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 400;

  font-size: 0.875rem;
  padding-right: 0;
  margin-bottom: 8px;
}

#cookie-bar p:hover {
  color: #4F4F4F;
}

#cookie-bar a {
  display: inline;
  color: #F60;
  text-decoration: none;
  border-bottom: 0;
  padding: 0;
  cursor: pointer;
}

#cookie-bar a:hover {
  color: #F90;
}

#cookie-bar .cookies-a a {
  background-color: #0299FF;
  display: inline-block;
  margin: 0;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
  width: auto;
}

#cookie-bar .cookies-a a:hover {
  background-color: #5FB8FF;
  color: #FFF !important;
}

@media (min-width: 767px) {
  #cookie-bar {
    width: 70vw;
    padding: 16px 24px;
    display: flex;
  }
  
  #cookie-bar .container {
    width: 100%;
    padding: 0;
    max-width: inherit;
  }

  #cookie-bar .container .cookies-txt {
    margin-right: 0;
  }

  #cookie-bar .cookies-a a {
    margin: auto;
  }

  #cookie-bar p {
    margin: 0;
    font-size: 1rem;
    color: #707070;
    padding-right: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  #cookie-bar .cookies-a {
    text-align: right;
  }

  #cookie-bar .cookies-a a {
    padding: 6px 16px;
    font-size: 0.875rem;
  }
}