// Mixins
// --------------------------------------------------


// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}


// WebKit-style focus
@mixin tab-focus() {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}


// Clearfix
@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// Full
@mixin full100 {
  width: 100%;
  height: 100%;
  display: block;
}


// Box shadow
@mixin box-shadow {
  // box-shadow: 0 1px 5px -2px rgba(0,0,0,.12);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
  transform: translateZ(0);
}

@mixin box-shadow--active {
  // box-shadow: 0 2px 8px rgba(0,0,0,.16);
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.16));
  transform: translateZ(0);
}

@mixin box-shadow--mix {
  @include box-shadow;
  transition: $transition-base;

  &:hover {
    @include box-shadow--active;
  }
}


// 文字縮排
// @include line-clamp(3, $font-size-base);
@mixin line-clamp($row, $font-size) {
  font-size: $font-size;
  max-height: ($font-size * 1.5) * $row;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
}


// Button hover -----
@mixin btn_hover--text {
  background-color: $color-primary;
  color: $color-WH;

  i.primary {
    background-image: url(../../assets/images/icon-btn-arrow-right--light.svg);
  }
}


// Lazyload 動畫加速 -----
@mixin lazy-fast {
  .picture {
    .mask {
      transition: opacity 50ms ease-in;
    }

    .loading {
      animation: loading .1s ease infinite;
    }
  }
}