//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
* {
  @include box-sizing(border-box);
}

*:before, *:after {
  @include box-sizing(border-box);
}

::selection {
  background: $color-primary;
  color: #fff;
}

// Body reset
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: $body-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-little;
  color: $text-color;

  &.hidden {
    overflow: hidden;
    width: 100%;
    position: fixed;
  }
}


// Reset fonts for relevant elements
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: $transition-base;
  border: 0;
  border-radius: 0;
  
  &:hover, &:focus {
    outline: 0;
  }
}

// Placeholder
::-webkit-input-placeholder {
  color: $color-GR400;
}
:-ms-input-placeholder {
  color: $color-GR400;
}
::placeholder {
  color: $color-GR400;
}


// Links
a {
  color: $link-color;
  text-decoration: none;
  transition: $transition-base;

  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    outline: 0;
  }

  &:focus {
    @include tab-focus;
  }
}


// img
img {
  vertical-align: top;
}


// Container widths
@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
}
.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


// Video fulid
.video-fulid {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


// Lazyload
@keyframes loading {
  from { background-position-x: 100%; }
  to { background-position-x: 0%; }
}

.picture {
  background-color: $color-secondary;
  position: relative;
  width: 100%;
  display: block;

  &.lr169, &.lr11 {
    height: 0;
    padding-top: 61.7%;

    .img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  &.lr169 {
    padding-top: 61.7%;
  }

  &.lr11 {
    padding-top: 100%;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $color-GR50;
    transition: opacity 200ms ease-in;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.loading {
  animation: loading .5s ease infinite;
}

.fade-out {
  opacity: 0;
}

.no-js .lazy,
.no-js .mask {
  display: none;
}

.ieonly { display: none !important; }
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ieonly { display: block !important;}
  picture.picture { display: none !important; }
}







// RWD Setting 
.pc {
  display: block !important;
}
.mobile {
  display: none !important;
}


// iOS "clickable elements" fix for role="button"
[role="button"] {
  cursor: pointer;
}



// RWD -----
@media (max-width: $screen-lg-min) /*1200*/ {
}

@media (max-width: $screen-md-min) /*992*/ {
}

@media (max-width: $screen-sm-min) /*769*/ {
  body {
    padding-top: 56px;
  }
  .pc {
    display: none !important;
  }
  .mobile {
    display: inline-block !important;
  }

  .container {
    padding-left:  $spacing*2;
    padding-right: $spacing*2;
  }
}

@media (max-width: $screen-sm-min) and (min-width: $screen-xs-min) /*769~480*/ {
  .container {
    padding-left: $spacing*3;
    padding-right: $spacing*3;
  }
}

@media (max-width: $screen-xs-min) /*480*/ {
}

@media (max-width: 320px) {
}


// Only Firefox
@-moz-document url-prefix() {
  // Links
  a {
    color: #F2711D;

    &:hover, &:focus {
      color: #FE9800;
    }
  }
}


// Only Safari
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  @media (max-width: $screen-sm-min) /*769*/ {
    body {
      padding-top: 55px;
    }
  }
}